nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color:#fff;
}
.logo h3 {
  font-size: 30px;
  font-weight: 800;
  color:#111;
}
.top .logo h3{
  color:#fff;
}
.btn  {
  background: #ffcd2b;
  padding:8px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: #ffce2b7e;
}
.link{
  text-decoration: none;
  color:#111;
  display: block;
}
.user-logo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #1011;
  background-color: orangered;
  overflow: hidden;
}
.user-logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}